extends layout

block content
    div.row.align-items-center
        h1.col-6 Users
        span.spinner-border.mx-2.text-primary(style="display:none;")#spinner
    table(class='table table-hover')
        thead
            tr.row
                th(class='col') Username
                th(class='col-4') Role
                    span.spinner-border.spinner-border-sm.mx-2.text-primary(style="display:none;")#spinner
        tbody
            each user in users
                tr.row
                    td.col= user.username
                    td.col-4
                        if user.username != username
                            a.btn.btn-danger(href='#' onClick='setRole('+user.id+',\'inactive\')' class=(user.role.includes('inactive')?'disabled':'')) Inactive
                            a.btn.btn-primary(href='#' onClick='setRole('+user.id+',\'user\')' class=(user.role.includes('user')?'disabled':'')) User
                            a.btn.btn-success(href='#' onClick='setRole('+user.id+',\'manager\')' class=(user.role.includes('manager')?'disabled':'')) Manager
                            a.btn.btn-warning(href='#' onClick='setRole('+user.id+',\'admin\')' class=(user.role.includes('admin')?'disabled':'')) Admin
                        else
                            a.btn.btn-warning.disabled Admin
    script.
        function setRole(userid,role) {
            $('#spinner').show();
            $.post('/admin/users', {
                role: role,
                userid: userid
            }, function(resp) {
                location.reload();
            })
        }
