extends layout

block content
    div.row.align-items-center
        h1.col-6 Applications
        span.spinner-border.mx-2.text-primary(style="display:none;")#spinner
        if canmanage
            div.col.text-right
                a.btn.btn-primary(href='/management/addapp') + New
    table(class='table table-hover')
        tbody
            each app in applist
                if ( app.active || canmanage )
                    tr.row
                        td.col
                            if canmanage
                                span.m-1
                                    if app.active
                                        a.btn.btm-sm.btn-primary(href='#' onClick='setActive('+app.id+',0)') On
                                    else
                                        a.btn.btm-sm.btn-danger(href='#' onClick='setActive('+app.id+',1)') Off
                            a.no-blue-link(href="/apps/"+app.id)
                                if app.internal
                                    span.badge.badge-success Int 
                                else
                                    span.badge.badge-danger Ext 
                                = " "+app.name
        
    script.
        function setActive(appid,active) {
            $('#spinner').show();
            $.post('/management/appactivation', {
                appid: appid,
                active: active
            }, function(resp) {
                location.reload();
            })
        }
