extends layout

block content
  h1= appname
  span.spinner-border.text-primary.m-3(style="display:none;")#spinner
  div.col.m-3
    = description
  form(method="post" class='col-md-6 m-3' encType="multipart/form-data")#fileModal
    if errmessage
      div.alert.alert-danger= errmessage
    div(class='form-group')
      label(for="thefile") Upload file
      input(type="file" class='form-control' name='thefile')#thefile
    button(onClick='sendForm()' class='btn btn-primary') Send


  script.
      function sendForm() {
          $('#spinner').show();
          $('#fileModal').submit();
      }
