extends layout

block content
  div.row.align-items-center
    h1.col-6 Application
  form(action="/apps" method="post" class='col-6 m-3' encType="multipart/form-data")#appModal
    if errmessage
      div.alert.alert-danger= errmessage
    div(class='form-group')
      label(for="thefile") Upload file
      input(type="file" class='form-control' name='thefile')#thefile
    button(type='submit' class='btn btn-primary') Send
