extends layout

block content
  div(class='card m-3')
    div(class='card-body')
      h5(class='card-title')
        block card-title
      h6(class='card-subtitle')
        block card-subtitle
      p(class='card-text')
        block card-text