extends layout

block content
    div.row.align-items-center
        h1.col-6 Exercises
        span.spinner-border.mx-2.text-primary(style="display:none;")#spinner
        if canmanage
            div.col.text-right
                a.btn.btn-primary(href='/management/addex') + New
    div
        table(class='table table-hover')
            tbody
                each ex in exlist
                    if ( ex.active || canmanage )
                        tr.row
                            td.col
                                if canmanage
                                    span.m-1
                                        if ex.active
                                            a.btn.btm-sm.btn-primary(href='#' onClick='setActive('+ex.id+',0)') On
                                        else
                                            a.btn.btm-sm.btn-danger(href='#' onClick='setActive('+ex.id+',1)') Off
                                a.no-blue-link(href="/exers/"+ex.id)
                                    span.fa.fa-star( style=(ex.hardness >= 1 ? 'color:orange' : 'color:grey'))
                                    span.fa.fa-star( style=(ex.hardness >= 2 ? 'color:orange' : 'color:grey'))
                                    span.fa.fa-star( style=(ex.hardness >= 3 ? 'color:orange' : 'color:grey'))
                                    span.fa.fa-star( style=(ex.hardness >= 4 ? 'color:orange' : 'color:grey'))
                                    span.fa.fa-star( style=(ex.hardness >= 5 ? 'color:orange' : 'color:grey'))
                                    = "  " + ex.title

    script.
        function setActive(exid,active) {
            $('#spinner').show();
            $.post('/management/exactivation', {
                exid: exid,
                active: active
            }, function(resp) {
                location.reload();
            })
        }