extends layout

block content
  h1= exer.title
  div.container
    span.fa.fa-star( style=(exer.hardness >= 1 ? 'color:orange' : ''))
    span.fa.fa-star( style=(exer.hardness >= 2 ? 'color:orange' : ''))
    span.fa.fa-star( style=(exer.hardness >= 3 ? 'color:orange' : ''))
    span.fa.fa-star( style=(exer.hardness >= 4 ? 'color:orange' : ''))
    span.fa.fa-star( style=(exer.hardness >= 5 ? 'color:orange' : ''))
  div.container
    for app in apps
      a.btn.btn-primary.m-1(href='/apps/'+app.id)= app.name
  div.col.m-1
    = exer.description