extends layout

block content
    table(class='table table-hover')
        thead
            tr
                th(class='col') Titolo
                th(class='col-1') Difficoltà
                th(class='col-1') Testo
                th(class='col-1') App
                th(class='col-1') Soluzione
        tbody
            each ex in exlist
                tr
                    td= ex.title
                    td= ex.hardness
                    td
                        a(class='btn btn-primary' href='/exercises/'+ex.short_title+'/text') Testo
                    td
                        a(class='btn btn-primary' href='/exercises/'+ex.short_title+'/app') App
                    td
                        a(class='btn btn-primary' href='/exercises/'+ex.short_title+'/sol') Soluzione