nav(class='navbar navbar-expand-lg navbar-dark bg-primary d-flex')
  a(class='navbar-brand' href='/') Learn Cpp
  != '<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>'
  != '<div class="collapse navbar-collapse" id="navbarNavAltMarkup">'
  div(class='navbar-nav')
    a(class= (current_url.includes('exercises')?'nav-item nav-link active':'nav-item nav-link') href='/exercises') Exercises
    a(class= (current_url.includes('fractal')?'nav-item nav-link active':'nav-item nav-link') href='/fractal') Fractals
  div(class='navbar-nav flex-row ml-md-auto')
    if username
      p= username
      a(class='btn btn-info' href='/users/logout') Logout
    else
      a(class= (current_url.includes('login')?'nav-item nav-link active':'nav-item nav-link') href='/users/login') Login
  != '</div>'