extends layout

block content
  div.row.align-items-center
    h1.col-6 New exercise
    p.col-1.text-rigth
      span.spinner-border.text-primary(style="display:none;")#spinner
  form(onsubmit="return false;" class='col-6 m-3')#appModal
    div.alert.alert-danger(style="display:none;")#err_message
    div(class='form-group')
      label(for="title") Title
      input(type="text" class='form-control' name='title')#title
    div(class='form-group')
      label(for="hardness") Hardness (from 1 to 5)
      input(type="int" class='form-control' name='hardness')#hardness
    div(class='form-group')
      label(for="description") Description
      textarea(class="form-control" name="description" rows="5")#description
    div(class='form-group')
      label Add applications
      br
      span.spinner-border.text-primary#appsspinner
      h4#forApps
    button(type='submit' class='btn btn-primary') Save

  script.
    $('#appModal').submit(function() {
      $('#spinner').show();
      $('#err_message').hide();
      var applist = [];
      window.apps.forEach( function(app) {
        if( app.checked ) applist.push(app.id);
      })
      $.post('/management/addex', {
        title: $('#title').val(),
        hardness: $('#hardness').val(),
        description: $('#description').val(),
        applist: JSON.stringify(applist)
      }, function(resp) {
        if (resp.status == 'error') {
          $('#err_message').text(resp.message).show();
        } else {
          window.location.href = "/exercises";
        }
      })
      $('#spinner').hide();
    });

    window.onload =  function() {
      $.get('/management/addex_getapp', null, function(resp) {
        window.apps = []
        resp.forEach( function(app) {
          window.apps.push({ id: app.id, name: app.name, checked: false});
          $('#forApps').append( "<span class=\"btn btn-secondary m-1\" onclick=\"check("+app.id+")\" id=\"app"+app.id+"\">"+app.name+"</span>" );
        } );
        $('#appsspinner').hide();
      })
    }

    function check(appid) {
      window.apps.forEach( function(app) {
        if( app.id == appid ) {
          var btnid = "#app"+appid;
          console.log(btnid);
          if( app.checked ) {
            app.checked = false;
            $(btnid).removeClass("btn-primary");
            $(btnid).addClass("btn-secondary");
          } else {
            app.checked = true;
            $(btnid).removeClass("btn-secondary");
            $(btnid).addClass("btn-primary");
          } 
        }
      })
    }