extends layout

block content
  div.row.align-items-center
    h1.col-md-6 New exercise
    p.col-1.text-rigth
      span.spinner-border.text-primary(style="display:none;")#spinner
  form(onsubmit="return false;" class='col-md-6 m-3')#appModal
    div.alert.alert-danger(style="display:none;")#err_message
    div(class='form-group')
      label(for="title") Title
      input(type="text" class='form-control' name='title')#title
    div(class='form-group')
      label(for="hardness") Hardness (from 1 to 5)
      input(type="int" class='form-control' name='hardness')#hardness
    div(class='form-group')
      label(for="description") Description
      br
      p.text-muted
        | You can use \(\LaTeX\) syntax, remembering that math delimiters are 
        code $$...$$ 
        | and 
        code \[...\] 
        | for displayed mathematics, and 
        code \(...\) 
        | for in-line mathematics. Pay attention that 
        code $...$ 
        | is not supported.
      textarea(class="form-control" name="description" rows="5")#description
    div(class='form-group') 
      div.text-muted.bg-light.p-3.border.rounded#descrpreview
    div(class='form-group')
      label(for="forApps") Add applications
      br
      span.spinner-border.text-primary#appsspinner
      select.form-control(name="forApps" multiple="multiple")#forApps
    button(type='submit' class='btn btn-primary') Save

  script.
    $('#appModal').submit(function() {
      $('#spinner').show();
      $('#err_message').hide();
      $.post('/management/addex', {
        title: $('#title').val(),
        hardness: $('#hardness').val(),
        description: $('#description').val(),
        applist: JSON.stringify($('#forApps').val())
      }, function(resp) {
        if (resp.status == 'error') {
          $('#err_message').text(resp.message).show();
        } else {
          window.location.href = "/exercises";
        }
      })
      $('#spinner').hide();
    });

    async function reloadMathJax() {
      var newtext = $('#description').val();
      if( newtext.length > 0 ) {
        $('#descrpreview').show();
        $('#descrpreview').text( newtext );
        MathJax.typesetPromise().then( () => setTimeout( reloadMathJax, 500) );
      } else {
        $('#descrpreview').hide();
        setTimeout( reloadMathJax, 500);
      }
    }

    window.onload =  function() {
      $.get('/management/addex_getapp', null, function(resp) {
        resp.forEach( function(app) {
          $('#forApps').append( "<option value=\""+app.id+"\">"+app.name+"</option>" );
        } );
        $('#forApps').select2();
        $('#appsspinner').hide();
      })
      setTimeout( reloadMathJax, 0);
    }