extends layout

block content
    div.row.align-items-center
        h1.col-6 Applications
        span.spinner-border.mx-2.text-primary(style="display:none;")#spinner
        div.col.text-right
            a.btn.btn-primary(href='/management/addapp') + New
    table(class='table table-hover')
        thead
            tr.row
                th.col Name
                th.col Url
                th.col-1 Active
        tbody
            each app in applications
                tr.row
                    td.col= app.name
                    td.col
                        a(href=app.url)= app.url
                    td.col-1
                        if app.active
                            a.btn.btn-primary(href='#' onClick='setActive('+app.id+',0)') On
                        else
                            a.btn.btn-danger(href='#' onClick='setActive('+app.id+',1)') Off

        
    script.
        function setActive(appid,active) {
            $('#spinner').show();
            $.post('/management/applications', {
                appid: appid,
                active: active
            }, function(resp) {
                location.reload();
            })
        }
