extends layout

block content
  div.row.align-items-center
    h1.col-md-6 Sign Up
    p.col-1.text-rigth
      span.spinner-border.text-primary(style="display:none;")#spinner
  form(onsubmit="return false;" class='col-md-6 m-3')#registerModal
    div.alert.alert-success(style="display:none;")#ok_message
    div.alert.alert-danger(style="display:none;")#err_message
    div(class='form-group')
      label(for="username") Username
      input(type="text" class='form-control' name='username')#username
    div(class='form-group')
      label(for="password") Password
      input(type="password" class='form-control' name='password')#password
    button(type='submit' class='btn btn-primary') Register

  script.
    $('#registerModal').submit(function() {
      $('#spinner').show();
      $('#err_message').hide();
      $('#ok_message').hide();
      $.post('/users/register', {
        username: $('#username').val(),
        password: $('#password').val()
      }, function(resp) {
        if (resp.status == 'error') {
          $('#err_message').text(resp.message).show();
        } else {
        $('#ok_message').text("Successfully signed up. Before logging in, you must wait for administrator confirmation of the account.").show();
        }
      })
      $('#spinner').hide();
    });
