extends ../layout

block content
  h2 Sign In
  form(onsubmit="return false;" class='col-6 m-3')#loginModal
    div.alert.alert-danger(style="display:none;")#err_message
    div(class='form-group')
      label(for="username") Username
      input(type="text" class='form-control' name='username')#username
    div(class='form-group')
      label(for="password") Password
      input(type="password" class='form-control' name='password')#password
    button(type='submit' class='btn btn-primary') Login
    span.spinner-grow.text-primary(style="display:none;")#spinner

  script.
    $('#loginModal').submit(function() {
      $('#spinner').show();
      $('#err_message').hide();
      $('#ok_message').hide();
      $.post('/users/login', {
        username: $('#username').val(),
        password: $('#password').val()
      }, function(resp) {
        if (resp.status == 'error') {
          $('#err_message').text(resp.message).show();
        } else {
          window.location.href = "/";
        }
      })
      $('#spinner').hide();
    });
